#image1{
    margin: 20px 0 0 0;
    border-width: 6px;
    border-color: black;
    border-style: solid;
}

#image2{
    margin: 20px 0 0 0;
    border-width: 6px;
    border-color: black;
    border-style: solid;
}
#container{
    margin-left: 40%;
}